<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="/">CareTrack</a>
        </div>
        <input type="radio" name="slide" id="menu_btn" /><input type="radio" name="slide" id="cancel_btn" />
        <ul class="nav_links">

            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a href="#" class="desktop_item"> Menu</a>
                <input type="checkbox" id="showDrop" />
                <label for="showDrop" class="mobile_item"> Menu</label>
                <ul class="drop_menu">
                    <li><a href="/health-information">Health Information and Data</a></li>
                    <li><a href="/medical-history">Medical History</a></li>
                    <li><a href="/nurse-notes">Nurse's Notes</a></li>
                    <li><a href="/health-assessment">Health Assesment</a></li>
                    <li><a href="/results">Results</a></li>
                    <li><a href="/billing">Billing</a></li>
                </ul>
            </li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>

    </div>
</nav>

<style>
    *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;}

        nav {
            background-color: #0A6847;
            position: top; /* Fix the navigation bar at the top of the viewport */
            width: 100%;
            z-index: 999;
            height: 65px;
            line-height: 65px;
            top: 0;
        }


        nav .wrapper {
            position: relative; /* Set relative positioning */
            max-width: 1250px;
            padding: 0 100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .wrapper .nav_links {
            display: flex;
        }

        .wrapper .logo a,
        .nav_links li a {
            color: #f2f2f2;
            padding: 10px 15px; /* Adjust padding */
            text-decoration: none;
        }

        .wrapper .logo a {
            font-size: 27px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .nav_links li a {
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
            padding: 9px 15px;
            transition: all 0.3s ease;
        }

        .nav_links li {
            list-style-type: none;
        }

        .nav_links li a:hover {
            background: #3bf068bd;
        }

        .nav_links .mobile_item {
            display: none;
        }

        /* Drop Down Menu */
        .nav_links .drop_menu {
  position: absolute;
  top: 65px;
  width: 180px;
  line-height: 45px;
  background-color: #242526;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav_links li:hover .drop_menu,
.nav_links li:hover .mega_box {
  top: 65px;
  opacity: 1;
  visibility: visible;
}

.drop_menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

        /* Mega Menu */
        .wrapper input {
            display: none;
        }

        @media screen and (max-width: 970px) {
            .wrapper .btn {
                display: block;
            }

            .wrapper .nav_links {
                position: fixed;
                height: 100vh;
                width: 100%;
                max-width: 350px;
                background: #17834d;
                display: block;
                top: 0;
                left: 0;
                left: -100%;
                overflow-y: auto;
                line-height: 50px;
                padding: 50px 10px;
                box-shadow: 0 15px 15px rgba(255, 248, 248, 0.15);
                transition: all 0.5s ease-in-out;
            }

            #menu_btn:checked ~ .nav_links {
                left: 0%;
            }

            #menu_btn:checked ~ .btn.menu_btn {
                display: none;
            }

            .nav_links::-webkit-scrollbar {
                width: 0px;
            }

            .nav_links li {
                margin: 15px 10px;
            }

            .nav_links li a {
                padding: 0 20px;
                display: block;
                font-size: 20px;
            }

            /* drop down responsive */
            .nav_links .drop_menu {
                position: static;
                left: 50%;
                opacity: 1;
                visibility: visible;
                flex-wrap: top;
                top: 65px;
                padding-left: 80px;
                width: 100%;
                max-height: 0px;
                overflow: scroll;
            }

            #showDrop:checked ~ .drop_menu {
                max-height: 100%;
            }

            .nav_links .drop_menu li {
                margin: 0;
            }

            .nav_links .drop_menu li a {
                font-size: 18px;
                border-radius: 5px;
            }

            .nav_links .desktop_item {
                display: none;
            }

            .nav_links .mobile_item {
                display: block;
                font-size: 20px;
                color: #f2f2f2;
                font-weight: 500;
                padding-left: 20px;
                cursor: pointer;
                border-radius: 5px;
                transition: all 0.3s ease;
            }

            .nav_links .mobile_item:hover {
                background: #1ccf63;
            }
        }
    </style>